[2014-05-05 19:55] JeanHules opened #1 "Echo location"
Great plugin. Works perfectly and is very easy to use. One question, currently the plugin is echoing the <div id="local-pickup-time-select"><h2></h2</div> into my Shipping div, which I have coded to hide when the user selects pickup.

I looked through the code and since my WP php is subpar, I wasnt able to figure out how to change where the script echos the pick up time div.

Any help would be gre

[2014-05-11 07:52] thomasklein opened #2 "Won't work in Woocommere 2.1x"
See: https://wordpress.org/support/topic/custom-order-fields-changed-in-woocommerce-21

So your call to

[code]

in function _show_metabox_ (class-local-pickup-time-admin.php) will provoke an error.

Fix is using the method _get_post_custom_ instead. So:

[code]

Cheers!

[2014-05-12 13:46] #2 closed, assigned to nobody

[2014-08-11 15:39] #1 closed, assigned to nobody

[2015-12-03 19:04] rjgough opened #6 "Strange pickup time.."
My hours are set to shut off the pickup time at 20:00 thursday.. and open 11:00 - 21:00 friday.

When i place an order, it then tells me the next available time is tomorrow at 20:30 - it seems the only available time is tomorrow past the current time (the current time is 20:00 thursday).

something a little confusing with this time selection

[2016-04-20 08:29] yahya-akhter opened #7 "Add Order Status for When Order is Ready for Pickup"
Is there any cron job which send email to user at the time of pickup. For example if user select 5 Pm pickup time at that time user receive a email notification please pickup your order.

[2016-04-20 12:30] mattbanks commented on #7
No cron jobs are in the email for pickup notifications right now. Feel free to submit a pull request and I can merge it in :)

[2017-02-07 11:43] vyskoczilova commented on #6
Hi @rjgough I hope that I have fixed it in my pull request, if you still need it, you can have a look here: https://github.com/mattbanks/woocommerce-local-pickup-time/pull/8

[2017-06-22 09:17] j-mes opened #9 "Setting pick up time for an order in the backend"
I'm currently using WooCommerce 3.x, with WP 4.8. The front end component for this plugin works fine, it's just the back-end that throws the errors:

[code]

[code]

[code]

I'm currently working on a WooCommerce site that will require the people who sell their products to be able to add in the orders in the backend if they are dealing with a customer on the phone. It will not display a dropdown m

[2017-06-27 15:24] mattbanks commented on #9
I unfortunately won't have a chance to look at this for a while. If you have a minute and can debug and submit a PR, I can merge it and push out a new version.

[2017-09-13 02:44] xianchuzhu opened #10 "is there anyway to add a notice on the Shop Page when store is closed"
is there anyway to add a notice on the Shop Page when store is closed?

[2017-09-13 02:46] xianchuzhu commented on #10
or countdown  notice so that customer wont get mad when they take their time to add everthing to cart and find out its closed on checkout page.

[2017-09-13 13:44] mattbanks commented on #10
There aren't any hooks for filters setup in the plugin right now to do that, but I think it would be a good idea if you'd like to submit a pull request! I don't have any time right now to dedicate to adding that feature :(

[2017-09-13 15:09] xianchuzhu commented on #10
this is what i did.
works somehow.
i was trying to put countdown timer(if closer to closing or plus delayed
time is to closing) but failed.

maybe u could do better:)

btw your plugin is awesome.
wish there is an option of 2 delay time. one for pick up .one for delivery.
depending on shipping method.

function action_woocommerce_before_shop_loop() {

date_default_timezone_set( get_option( 'timezon

[2017-09-15 23:59] mattbanks commented on #10
Thanks for the kind works! If you want to add a hook/filter into the function so you can inject that code easier without having to modify it, a pull request would be great! 👍

[2018-01-09 00:14] madibm opened #11 "Translate pickup day email"
Hi,

The translation of the pickup day does not work the emails of woocommerce, would you have an idea to help me?

Thank you!

[2018-08-10 16:24] cardinal79 opened #13 "The plugin does not have a valid header."
When I try to activate the plugin I get the message that the plugin does not have a valid header.

Also, ETA on update for future date selection for pickup date and time.

[2018-08-13 13:10] mattbanks commented on #13
Installed on 2 existing sites and 2 new sites (1 local, 1 hosted) and didn't see any errors with the plugin. There could be a caching issue (see here: https://scotty-t.com/2011/03/28/fix-for-the-plugin-does-not-have-a-valid-header/).

Not sure what you're referring to about future date selection?

[2018-11-13 03:33] timnolte commented on #13
@cardinal79 have you checked out the most recent version? I added expanded date selection. Perhaps you can open up a new issue for that specifically indicating in detail what you are looking for?

[2018-11-14 14:34] mattbanks commented on #10
Good call @timnolte! I'm pretty busy now and won't have time to add this for a while. If anyone wants to submit a PR, I'll merge it and deploy a new version!

[2018-11-14 23:47] timnolte commented on #10
@mattbanks I'm working on another PR for client, which I'll be submitting soon. Once that one is out of the way I'll work in this one next.

[2018-11-16 02:54] timnolte opened #15 "Missing Space Between Pickup Date & Time"
Apparently the changes I made in #12 introduced an issue with the stored/displayed pickup date & time.

[2018-11-16 03:10] timnolte commented on #15
I'm working on a PR for a new feature to add the Pickup Time to the Order List and the Order Preview. While working on those features I stumbled on this problem that I introduced. I already have the fix but I'm inclined to revamp the entire way that the date selection is built as it seems very complicated.

[2018-11-26 01:55] timnolte opened #16 "Refactor Plugin to Follow WordPress PHP Coding Standards Using PHP_CodeSniffer"
In order to allow for more open contributions by developers the plugin should follow the [WordPress PHP Coding Standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/). The best way to handle this is to use build tools and the [PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer) rules built for [WP Code Standards](https://github.com/WordPress-Coding-Stan

[2018-11-26 02:00] timnolte commented on #16
@mattbanks if this is acceptable to you I'm going to work this through. I've sort of already started on this. If all the code passes the general WP PHP coding standards it will really make code reviews much easier, I'd actually like to add a TravisCI config, to help with automating PR checks, as well as run unit test(which I'm also already working on starting). I'm just looking to help us all out.

[2018-11-26 13:59] mattbanks commented on #16
Hey @timnolte that would be amazing! You've done an amazing job contributing here! Would you be interested in becoming a co-maintainer/author for the plugin? I can give you access in the repo and Committer access on wordpress.org to push updated to the plugin.

[2018-11-29 13:12] youpyoup opened #17 "error language e-mail"
Hi,

I have a problem on e-mail, the pickup date is not translate (in FR), but ok in front office.
Bug error visible in woocommerce log : 2018-11-29T11:39:05+00:00 CRITICAL Call to undefined method Local_Pickup_Time::pickup_time_select_translatable()
Any idea please ?

With thanks

[2018-11-29 14:16] ProGear360 opened #18 "Longer time?"
Hi there!
I need to add about a 3 day (4320) delay, how would I go about adding that as an option?

Regards,
Jay

[2018-11-29 14:29] mattbanks commented on #16
@timnolte Awesome! I'll add you as a collaborator to the repo today and I can add you to the wp.org collaborators list for plugin deploys over the weekend! :)

[2018-11-30 05:06] timnolte commented on #18
@ProGear360 I've got a big commit coming with a bug fix and some enhancements. How soon do you need this change made. I'd probably look at changing this to a numeric entry with a type dropdown(minutes, hours, days) and then let an admin just set pretty much any sort of delay they'd like.

[2018-11-30 05:07] timnolte commented on #17
@youpyoup I have a bug fix that should address this that is almost ready. I was getting caught up in another effort so I'll put a hold on that and get this resolved soon.

[2018-11-30 08:20] youpyoup commented on #17
@timnolte ok thanks, let me know when you have resolved this.

[2018-11-30 19:58] ProGear360 commented on #18
@timnolte Big commits are the best!
I'm opening my little shop on Monday :)
I'm not quite sure how to do that unfortunately.

[2018-11-30 23:04] timnolte commented on #18
@ProGear360 I'll see if I can't get something working for you by  the end of the weekend.

[2018-11-30 23:12] ProGear360 commented on #18
@timnolte That would honestly be amazing!

[2018-12-02 16:47] Zubseroe opened #19 "How to uninstall local pick up time"
I have installed it by uploading the plugin. Changed the parameters in the setting (different pick up times) but nothing happened. The default times are still in. So not working. I deactivated and uninstalled the plugin, but still the option for choosing pick up time is in the checkout page. How can I delete it completely? There is no plugin visible in the admin page and no similar plugin folder t

[2018-12-03 02:38] timnolte commented on #19
@Zubseroe this sounds like you have some very aggressive caching going on. There is no way that the option for pickup times could be presented on the checkout page if you've actually completely removed the plugin. And the fact that it is doing this would also be the reason that changing the properties appeared to have no effect. Where is your site hosted with? Are you using Cloudflare at all?

[2018-12-03 04:31] timnolte commented on #18
@ProGear360 so I have a change that you can probably use, but you'll need to pull the plugin from [my GitHub](https://github.com/timnolte/woocommerce-local-pickup-time) fork, specifically the `feature/pickup-date-order-sort` branch. I like to use the [GitHub Updater Plugin](https://github.com/afragen/github-updater) for this sort of thing.

[2018-12-03 20:02] ProGear360 commented on #18
I thought I replied, apparently it didn't come through!
Thanks Tim!
Just a heads up, there's a bug when you pick 3 days and 5 days, it comes up with:
Warning: DateTime::setTime() expects parameter 1 to be integer, string given in /home/user/public_html/wp-content/plugins/woocommerce-local-pickup-time-feature-pickup-date-order-sort/public/class-local-pickup-time.php on line 449

[2018-12-03 20:56] timnolte commented on #18
@ProGear360 sorry about that, I was running short on time and was trying to get something quick and dirty to you. Obviously a little more dirty than I had hoped. I'll run that down and commit a fix for that tonight hopefully.

[2018-12-04 05:10] timnolte commented on #18
@ProGear360 it seems like 1, or more, of your open/close times is either a different time format than what the plugin is expecting, or as I've tested it they are set to an empty open/close time. I just updated the plugin code to account for the case where there could be empty open/close times. Give it a try now, otherwise if you could provide me the format you are using I can determine a fix. Than

[2018-12-04 07:04] Zubseroe commented on #19
Thanks Tim, the theme has an empty cache button which I used, but no change. I have opened the editor from the theme (Kallyas) on the checkout page and there I was able to remove the pick up time part.  Now it's gone. Don't know if that is the proper way. I don't use Cloudflare, I use WP hosting. Can the plugin only be used when using CLoudflare?

[2018-12-04 14:15] #6 closed

[2018-12-04 14:18] #13 closed

[2018-12-10 13:41] mattbanks commented on #16
@timnolte You have commit access in SVN now to push new versions to wp.org :)

[2018-12-12 10:33] youpyoup commented on #17
Hi @timnolte, some news concerning the bug fix ? :)
With thanks !

[2018-12-13 04:46] timnolte commented on #17
@youpyoup I should have a new release ready by the end of the week.

[2018-12-19 14:20] yumthaidelight opened #23 "Associate Local Pickup Time With "Local Pickup" Shipping Method"
Hi I setup my web to do collection and delivery under standard woo-commerce shipping option.
I do have set postcode which I deliver.
On checkout there is always  Pickup Time, no matter which option I choose.
It is possible to change the plugin?

[2019-01-09 15:42] youpyoup commented on #17
Hi @timnolte, the new release is available ? thanks again.

[2019-01-10 17:18] timnolte commented on #17
@youpyoup sorry, with the holidays and work the release had been delayed. I'm looking to get it finally pushed out next week.

[2019-01-11 14:08] youpyoup commented on #17
No problem thanks @timnolte :)

[2019-01-17 18:01] timnolte commented on #23
@yumthaidelight sorry, I think I missed this issue. I'll start looking into this as soon as I get the next release out.

[2019-02-04 05:46] timnolte commented on #18
@ProGear360 the latest 1.3.2 release should have what you need now.

[2019-02-04 05:46] #18 closed

[2019-02-04 05:47] timnolte commented on #17
@youpyoup the translation issues should be resolved now.

[2019-02-04 05:47] #17 closed

[2019-02-04 05:50] timnolte commented on #16
@mattbanks I have Travis CI tasks building my own fork/branches, hopefully we can get this working fully for the main branch as well. FYI, there is also now a Grunt task that will take care of the WordPress SVN publish instead of using the shell script. When you run a grunt build everything will get staged and then a grunt wp_deploy will perform the needed SVN checkout and copy the staging files o

[2019-02-04 05:50] #16 closed

[2019-02-04 05:50] timnolte commented on #15
This is fixed.

[2019-02-04 05:50] #15 closed

[2019-02-04 13:04] youpyoup commented on #17
Hi timnolte, i have an rror at the activation :

Parse error: syntax error, unexpected '->' (T_OBJECT_OPERATOR) in /var/www/clients/client7/web17/web/wp-content/plugins/woocommerce-local-pickup-time-select/public/class-local-pickup-time.php on line 585

[2019-02-04 13:23] mattbanks commented on #16
sweet dude! let me know whatever you need me to do to get Travis setup.

[2019-02-04 14:35] timnolte commented on #17
@youpyoup what version of PHP are you running?

[2019-02-04 17:42] craisis opened #26 "Syntax error introduced in last patch"
https://github.com/mattbanks/woocommerce-local-pickup-time/blob/08e3cd1cd4902ecc3f8327bba56134fb8a18a738/public/class-local-pickup-time.php#L585

[04-Feb-2019 16:06:52 UTC] PHP Parse error:  syntax error, unexpected '->' (T_OBJECT_OPERATOR) in <REDACTED>/wp-content/plugins/woocommerce-local-pickup-time-select/public/class-local-pickup-time.php on line 585

Due to wrapping DateTime::createFromForma

[2019-02-04 17:44] craisis commented on #26
#27

[2019-02-04 17:47] timnolte commented on #26
@craisis can you confirm which version of PHP this error occurs for? I wasn't able to reproduce on any of my dev instances but they are all running a 7.x version of PHP. I'm going to begin creation of unit tests starting in the 1.4 release, along with CI builds with a matrix of PHP/WP/WC versions, so as to hopefully prevent these sorts of issues going forward.

[2019-02-04 17:51] craisis commented on #26
@timnolte  Tested using PHP 5.6.

`[root@wc-php-test yum.repos.d]# php -v
PHP 5.6.40 (cli) (built: Jan  9 2019 12:34:16)
`

Simple test with only this line results in:
`PHP Parse error:  syntax error, unexpected '->' (T_OBJECT_OPERATOR) in /root/test.php on line 2`

Removing outer ('s:
`PHP Fatal error:  Using $this when not in object context in /root/test.php on line 2`

[2019-02-04 18:59] timnolte commented on #26
Not sure why things ended up being so difficult but this fix is deployed and released. Thanks!

[2019-02-05 02:37] timnolte commented on #16
@mattbanks if you can go to [Travis CI](https://travis-ci.org/mattbanks/woocommerce-local-pickup-time) and login and authorize Travis with access to your main repo I think we'll be in business. I've started a Project for a 1.4 release which will be a feature release with the beginning of unit tests. My intent will be at the very least to write new unit tests for any new features. If there are patc

[2019-02-05 08:30] youpyoup commented on #17
For information, i have test to desactivate all my plugins and reactivate only woocommerce + local pickup time

[2019-02-05 18:10] timnolte commented on #26
Looks like I somehow got tripped up as it seemed there was originally a change to add the () around the call, but now I see that this removes them. I'll need to reapply this patch once again.

[2019-02-05 18:30] #26 closed

[2019-02-05 18:37] mattbanks commented on #16
Travis is now activated for the repo! https://travis-ci.org/mattbanks/woocommerce-local-pickup-time

[2019-02-05 18:46] timnolte commented on #16
@mattbanks sweet I was able to kick off the first build. I'll have to confirm how the notifications work, hopefully you don't start getting overwhelmed with build notices. 😉

[2019-02-05 18:46] mattbanks commented on #16
Haha that's what Gmail's filters are for. lol :)

[2019-02-11 13:30] youpyoup commented on #17
Whats your opinion for the error @timnolte  ?

[2019-02-11 18:31] timnolte commented on #17
@youpyoup that error should not exist now on the 1.3.4 release. The 1.3.3 release missed applying the patch for PHP 5.6. Ate you certain you are running on PHP 5.6 and running version 1.3.4?

[2019-02-15 04:21] timnolte commented on #23
@yumthaidelight I believe I see the disconnect in how the plugin is working. I need to do some checking but it may in fact be that this plugin was developer prior to WooCommerce including a Local Pickup shipping option. Regardless, I will add this in the 1.4 build to only present the local pickup time to a customer when the "Local Pickup" shipping method is chosen.

[2019-02-20 01:39] timnolte opened #33 "Pickup Time Allowed For Closed Days"
[trucm](https://wordpress.org/support/users/trucm):

Hi

I left the hours for sunday blank to indicate that there is no pickup available. It’s been working fine but last Sunday I saw an order come through. I realized even though I did not set the hours, customers can still select Sunday pickup

How can this be fixed?

My site http://www.bunmigrill.com

[2019-02-20 01:47] timnolte opened #34 "Default Year is 1970"
[napes7](https://wordpress.org/support/users/napes7/):

thanks for a great plugin

My site updated to a newer version of PHP, now your default year shows as 1970.

What have I done wrong?

https://wordpress.org/support/topic/1970-was-a-good-year/

[2019-02-21 11:08] drupadt opened #35 "1.3.4 returns server error 505"
Hi Matt,

We've discussed ordering scenario before via email about how I wanted to stagger time for someone for pickup and I thin you implemented this on 1.3.3. It worked but then 1.3.4 came along and now when anyone clicks on checkout they are hit with 505 server error. Any idea what needs to be done?

[2019-02-21 11:14] timnolte commented on #35
@drupadt I'll have to dig into this. I'm sorry to say that the versions starting with 1.3.2 since have introduced more problems than I had realized. That release should have had more testing before it's release but I knew that 1.3.1 had introduced a bug, and there was a significant feature in that release that the holidays kind of all delayed. I'm going to work on getting the next bug release out

[2019-02-21 11:16] drupadt commented on #35
Thanks Tim, for now is there any possibility of manually reverting to one of the older versions and activating that plugin?

[2019-02-21 12:04] timnolte commented on #35
@drupadt you can go to the tags/releases and manually [download 1.3.1](https://github.com/mattbanks/woocommerce-local-pickup-time/releases/tag/1.3.1) and install it. Just make sure you don't have any auto-updating setup for your plugins.

[2019-02-26 03:43] timnolte opened #36 "Cache Pickup Time Selected by Customer Until Successful Checkout"
[@choutin](https://wordpress.org/support/users/choutin/)

how to remain the select time when page refresh. right now when page refresh or go back to cart page or other page then processing to check out again. the time select before was not selected. we have to select again. samething with the payment fail and make another payment. today when a customer select a time but payment with credit card wa

[2019-02-26 03:56] timnolte commented on #33
I have been able to reproduce this issue. When the time is blank it's not properly using that as a closed day.

[2019-02-27 03:40] timnolte commented on #11
@madibm would you be able to provide an example? Also, are you using the Czech language translation that is included/available or your own?

[2019-02-27 04:42] timnolte commented on #34
Unable to reproduce this in either a PHP 5.6/WordPress 5.1/WooCommerce 3.5.5 or PHP 7.2/WordPress 5.0.1/WC 3.5.4 environment.

[2019-02-27 04:45] timnolte commented on #35
@drupadt can you provide your PHP/WordPress/WooCommerce versions, as well as any other WooCommerce-related plugins you have installed? I was unable to reproduce this issue in either of my testing environments.

[2019-02-27 04:50] #33 closed

[2019-03-05 04:25] timnolte commented on #34
[napes7](https://wordpress.org/support/users/napes7/):

Thanks for your reply, plugin version is Version 1.3.5
Wordpress version is 5.1
PHP is latest

Date Format and Time format is

j F, Y
time is
g:i A

[2019-03-05 04:26] timnolte commented on #34
[napes7](https://wordpress.org/support/users/napes7/):
Hi Tim, yes 7.3.2_(PHP)_

Other plugins are
WooCommerce Email Customizer with Drag and Drop Email
WooCommerce Product Table
Woocommerce Remove SKU
WordPress HTTPS

Woocommerce version 3.5.5

[2019-03-05 04:29] timnolte commented on #34
I've confirmed on both PHP 7.2.12 & PHP 7.3.2 that the WordPress date format of `j F, Y` is not being handled properly by the code.

[2019-03-11 03:57] #34 closed

[2019-03-22 04:17] timnolte opened #43 "WooCommerce Object Attributes Shouldn't be Accessed Directly"
debug.log:
[15-Mar-2019 16:56:16 UTC] id was called incorrectly. Order properties should not be accessed directly. Backtrace: require('wp-blog-header.php'), require_once('wp-includes/template-loader.php'), do_action('template_redirect'), WP_Hook->do_action, WP_Hook->apply_filters, WC_AJAX::do_wc_ajax, do_action('wc_ajax_checkout'), WP_Hook->do_action, WP_Hook->apply_filters, WC_AJAX::checkout, WC_

[2019-03-27 16:33] tomaski opened #44 "Pickup times are not handled properly"
Using plugin version 1.3.8
WP version 5.1.1

pickup timeframe set from 12:00 to 20:00
with 15 min intervals, 30 min delay and 1 day ahead

on order page, last possible pickup time is set to 19:45 (should be 20:00)
also, as I'm writing this, it's 17:32 and plugin allows for selecting 17:35 pickup (expected 18:15 as earliest possible)

[2019-03-27 17:05] timnolte commented on #44
@tomaski to address the point that the last pickup time is 19:45 instead of 20:00 it went with the fact that it is expected that 20:00 is your close time, so you wouldn't allow a pickup right at close. So this is as designed.

The point of it being 17:32 and it is allowing you to select 17:35 looks completely wrong, as I would expect at the worst case 17:45, which would also be wrong. You are corr

[2019-03-27 17:29] tomaski commented on #44
@timnolte
Thank you for your swift response. 👍

My bad, then. I was under the assumption that (since it is a pickup-related
plugin) the times, I set up are for the pickups only, as a restaurant can
(and in my case does) have pickup time frame that differs from opening
times.
Maybe then a select box in the setting whether one does wish to have a
pickup on closing time?
(in case there are more tomas

[2019-03-27 17:33] timnolte commented on #44
@tomaski no, you aren't the only one to misunderstand this and it really is a point of confusion and should be addressed. I need to talk with @mattbanks on this as there is also a request to the into the WooCommerce store closed notice which makes this a sticky point.

[2019-03-29 13:47] tomaski commented on #44
@timnolte I see that this issue is being worked on. nice :)
However, I just came across another unexpected behavior:
Let's say I started placing an order at 14:00. Fisrst possible pickup was 14:30 and that is what I chose. If I then get distracted / interrupted and do not finish the order immediately, but at 14:35. My order will be accepted!
Can you check it please?

[2019-03-29 13:58] mattbanks commented on #44
@timnolte What would need to change with the store close notice? Sorry, I've been away from the plugin for a bit and haven't looked too much at what's going on (been swamped with work and family stuff).

[2019-03-29 14:42] timnolte commented on #44
@tomaski OK, that's a good point. I would sort of classify this as more of an enhancement versus a bug. We'll need to add some validation on checkout. If you wouldn't mind opening up a new issue for that functionality I'd appreciate it.

[2019-03-29 14:44] tomaski opened #46 "do not proceed if pickup time exceeded"
Let's say I started placing an order at 14:00.
First possible pickup was 14:30 and that is what I chose. If I then get distracted / interrupted and do not finish the order immediately, but at 14:35 - my order will be accepted!
Pickup time verification required.

[2019-03-29 14:45] timnolte commented on #44
@mattbanks the big question is the plugin "store hours" and making sure that it appropriate to make these open/close times as strictly pickup begin/end times. So then tying into the store notice would be to provide a banner indicating that no more pickups are available for the current day.

[2019-03-29 18:36] mattbanks commented on #44
Ah gotcha! I think that would need to be an optional think (checkbox, maybe other metadata with it if needed?). Not every store will have the same open/close hours as pickup hours (the store this plugin was originally designed for would be in that boat), so we would need to account for both options.

[2019-04-01 01:06] timnolte opened #47 "Pickup Time Delay Bug"
[@cantbutron](https://wordpress.org/support/users/cantbutron/)

I configured the delay in 24h and it didn’t work, I check the code and I saw that in the file class-local-pickup-time.php, on line 418 it should appear $pickup_datetime->modify( “+$delay_minutes minute” ); instead of $pickup_datetime->modify( “+$minutes_interval minute” );. I hope it helps you

[https://wordpress.org/support/topic/a-l

[2019-04-01 01:06] timnolte commented on #47
This looks to be the source of the problem:

// Adjust for time delay.
if ( $current_datetime->diff( $pickup_datetime )->i < $delay_minutes ) {
	$pickup_datetime->modify( "+$minutes_interval minute" );
}

[2019-04-04 20:58] #47 closed

[2019-04-04 20:59] #44 closed

[2019-04-04 20:59] #43 closed

[2019-04-06 02:01] timnolte opened #52 "Problem With Pre-PHP 7.1 DateTime->setTime() Not Supporting Milliseconds"
[@mustafasabir12](https://wordpress.org/support/users/mustafasabir12/)

The latest update to version 1.3.9 fixed many bugs and gives perfect timing selection based on the timezone set. Unfortunately it introduces a small bug, on the checkout page the plugin gives PHP warnings:

Warning: DateTime::setTime() expects at most 3 parameters, 4 given in /home4/aayushkapoor/public_html/wp-content/plugins/

[2019-04-06 02:13] timnolte commented on #52
Fix would be to check:

isset((new DateInterval('PT0S'))->f)

And if true then setTime() with milliseconds otherwise setTime() with seconds only.

[2019-04-16 01:51] #52 closed

[2019-05-01 00:36] Stix7 opened #55 "Make Local Pickup Time compatible with "WooCommerce PDF Invoices & Packing Slips" plugin"
Hi,

We use "Local Pickup Time Select" along with "WooCommerce PDF Invoices & Packing Slips" plugin [https://wordpress.org/plugins/woocommerce-pdf-invoices-packing-slips/] to generate pdf files for our restaurant pickup orders.
Successful orders + pdf attachment are then emailed to a wireless printer for kitchen staff to action.

Unfortunately the pickup time is not captured in the pdf file genera

[2019-05-01 03:38] timnolte commented on #55
This is definitely something we can look into. There was another request related to another plugin for some integration and I think it would be a huge advantage to support other plugins.

[2019-05-01 14:17] Stix7 commented on #55
Awesome! Thank you.
Fixing this one issue will be a game changer for our us!

[2019-05-03 01:48] timnolte commented on #55
Referencing relevant plugin: wpovernight/woocommerce-pdf-invoices-packing-slips

[2019-05-03 02:33] timnolte commented on #55
@Stix7 after doing some analysis I think this is going to require some work on the part of the @wpovernight team to add support for our meta data to their plugin. And I'd be happy to do any work on our plugin to assist them with that integration. I can see that they have built in some methods for handling third party plugins/libraries which our plugin would fall into.

[2019-05-07 15:13] Stix7 commented on #55
@timnolte Managed to solve the issue. Used this hook to capture pickup time in pdf template.
`<?php

add_action( 'wpo_wcpdf_after_order_data', 'kh_local_pickup_add_to_pdf', 10, 2 );

function kh_local_pickup_add_to_pdf ($template_type, $order) {
  	//$pickup_time = $order->get_id();
	$pickup_time = $order->get_meta('_local_pickup_time_select');
	$formatted_pickup_time = date_i18n( 'F d, Y g:i a',

[2019-05-07 16:08] timnolte commented on #55
@Stix7 nice work, I started looking for hooks. I can take this and build it into the plugin and I think we'll be good to go. I'll make sure to stay on top of changes with that plugin so our hook doesn't break for some reason. I'll make sure you have a heads up on this so that you can remove your code so our integration doesn't conflict/break things.

[2019-05-07 17:51] Stix7 commented on #55
@timnolte Thank you for the quick response. Look forward to the new update.

[2019-05-17 23:37] mkelley15 opened #56 "Add today as pickup option"
Is there a way to add today as a pickup option? You have "Pickup Time Open Days Ahead" set as "inclusive to the current day if timeslots are available" however, I can't use today as a pickup time on the cart page.

[2019-05-17 23:40] timnolte commented on #56
Can you please provide the following details. This should work but is dependent on your settings.

Website URL

PHP Version

WordPress Version

WooCommerce Version

Plugin Version

WordPress Timezone Setting

WordPress Date Format Setting

WordPress Time Format Setting

All Plugin Start/End Pickup Time Settings

Plugin Pickup Time Interval Setting

Plugin Pickup Time Delay Setting

Plugin Pickup T

[2019-05-17 23:52] mkelley15 commented on #56
Thanks for getting to me so quickly.  I didn't even think to double check my WP time zone.  I had chosen city and NOT UTC, which was causing an error.  I changed it to the correct UTC and all is working correctly now.  Thank you so much!

[2019-05-17 23:55] timnolte commented on #56
@mkelley15 great to hear you figured out the issue. The timezone is a pretty big key and has caused some pain points for us in the past.

[2019-05-17 23:56] #56 closed

[2019-05-22 02:22] mkelley15 opened #57 "Is there a way to only show pickup drop down for certain store categories?"

[2019-05-26 12:38] timnolte commented on #57
@mkelley15 we'll have to see how this could be effectively done. I think once we get this tied to shipping the pickup shipping method correctly I think that might take care of your need.

[2019-06-04 14:16] yward commented on #23
@timnolte
@tnolte

I wrote this snippet to conditionally hide it, but the only problem, I was not able to make the field required/not required dynamically, any input?

Worth noting that you're free to use the code in your code:

`
//hide the local pickup thingy//
add_action( 'woocommerce_after_checkout_form', 'disable_time_local_pickup' );

function disable_time_local_pickup( $available_gateways )

[2019-06-06 01:53] timnolte commented on #23
@yward thanks for the code block. I'll look at including in an upcoming release.

[2019-06-14 21:31] JordanGout opened #58 "Override pickup delay option on products"
it would be great to be able to override default pickup delay for some products. I'm dealing with several type of products : 80% need 1 day to be packed but some others are already done (or can be done in few minutes) and could be pickup after 2 hours. And at the opposite some others need more then 2/3 days.

[2019-06-17 03:48] timnolte commented on #58
@JordanGout are you thinking that products would have their own pickup time requirements which dictate the entire order's pickup time or an order would have multiple pickup times by product?

[2019-06-17 06:20] jordanfitnext commented on #58
@timnolte I think order's pickup time should be the maximum time of order's products. If one product can be ready in few hours but another in 2 days order can be pickup in 2 days

[2019-06-17 06:22] JordanGout commented on #58
@timnolte I think order's pickup time should be the maximum time of order's products. If one product can be ready in few hours but another in 2 days order can be pickup in 2 days

[2019-06-17 18:45] JordanGout commented on #58
@timnolte I'm thinking about something else it is possible to be able to set delay on product's variations? 🤔
A bakery exemple : cake for 4 people / 6 people can be available in 2 hours but cake for 8 or 10 people in 1day

[2019-06-25 01:17] timnolte commented on #58
I'll have to see where I can take this. Currently the pickup date is only an order meta field, not tied to a product in any way.

[2019-07-10 17:28] Stix7 opened #59 "Edit "Pickup Time" Title and Label"
Hi,

How do I change the "**Pickup Time**" text to "**Pickup/Delivery Time**"?

![change-label](https://user-images.githubusercontent.com/50157792/60989175-120ee300-a2fa-11e9-813c-a4ffdcc34a44.png)

All customers can order pickup, but only a select few business customers can order pickup or delivery. We have disabled the global shipping feature. and added a dropdown option with pre-qualified busin

[2019-07-24 22:53] tbrock47 opened #60 "Independent shipping method settings"
Currently, it looks like the plugin has global settings for any "local pickup" shipping method created.
I would like to see those settings configured in the method itself instead.
This would provide the ability to have multiple "local pickup" methods available that can be configured independently.

In conjunction with the "woocommerce conditional shipping and payments" plugin, this would allow you

[2019-07-31 13:21] #59 closed

[2019-07-31 13:24] timnolte commented on #59
@stix7 sorry, I thought that I responded on this. Perhaps you found a workaround to setup your own translation file for the plugin which would allow you to change this text. I will say that the plugin target was originally for pickup as there are other plugins that do both. Well actually all other plugins I looked at forced you to have both and those that need pickup strictly didn't have many opti

[2019-07-31 21:54] Stix7 commented on #59
@timnolte No issues... Thanks for the response. Yes. I found a solution.

[2019-08-23 13:13] timnolte commented on #60
Currently, the plugin doesn't even tie itself to the WooCommerce local pickup shipping method. This is something that is on the list of things to change. However, I will note that tying local pickup to the product level is a whole other thing, currently the plugin ties the local pickup time to the order as a whole. There is another request already made to look at some way to tie local pickup times

[2019-08-23 13:15] timnolte commented on #60
See #58 for another request for product specific pickup times.

[2019-08-23 13:18] #35 closed

[2019-08-23 14:51] tbrock47 commented on #60
Yes, #58 appears to be a very similar request.

[2019-11-19 14:44] mattbanks opened #61 "Address JS package security vulns"
A few packages have security vulns that we should address.

<img width="780" alt="Screen Shot 2019-11-19 at 9 43 25 AM" src="https://user-images.githubusercontent.com/302970/69156301-31402d00-0ab1-11ea-92ab-83d2e24ea2dd.png">

[2019-11-19 14:57] timnolte commented on #61
Thanks for letting me know about these. I thought I had security notices turned on but perhaps not for this repo since it's owned by you, so maybe I don't get them. I need to get back working on this. Hopefully my new job will settle down soon so I can get back to making some progress on some of the open issues. I'll carve out some time in the next day or so to address this

[2019-11-20 02:44] timnolte commented on #61
@mattbanks I turned on security alerts on my fork so I should get notified of these directly also. Thanks!

[2019-11-20 14:00] mattbanks commented on #61
No worries dude! I haven't had any time for this lately and haven't even looked at WordPress for quite a few months now with everything else going on at work and home.

[2019-11-25 03:36] #61 closed

[2020-02-11 15:03] timnolte opened #67 "Add Pickup Date & Time on Thank You Page and Confirmation Emails"
Requested by: [hjansen](https://wordpress.org/support/users/hjansen/)
Reference: https://wordpress.org/support/topic/pickup-date-time-on-thankyou-page-and-confirmation-e-mails/

[2020-02-11 15:09] timnolte opened #68 "Add Plugin Option to Reserve Pickup Times for a Single Order"
Requested By: [dmsuk](https://wordpress.org/support/users/dmsuk/)
Reference: https://wordpress.org/support/topic/plugin-lets-customers-use-the-same-slot-twice/

[2020-03-19 02:01] timnolte opened #70 "Plugin v1.3.11 Crashes Order Page on TwentySeventeen Theme"
https://twitter.com/jottes/status/1239586116543660032

The latest version does not work but crash the order page. Theme ist twentyseventeen.

- Website URL:
- PHP Version:
- WordPress Version:
- WooCommerce Version:
- Plugin Version: 1.3.11
- WordPress Timezone Setting:
- WordPress Date Format Setting:
- WordPress Time Format Setting:
- All Plugin Start/End Pickup Time Settings:
- Plugin Pickup Ti

[2020-03-19 02:36] timnolte opened #71 "Add Plugin Option to Change If Pickup Time Is Required"
Right now, the pick-up time is set as a required field.
However, I also ship my products.
For the latter, customers do not need to select a pick-up time.

How can I make sure that the pick-up time is not a required field?

The page I need help with: [http://www.hokkaikitchen.nl](http://www.hokkaikitchen.nl)

Reference: [https://wordpress.org/support/topic/disable-required-field/](https://wordpress

[2020-03-19 02:41] timnolte opened #72 "Provide a More Configurable Pickup Delay"
i want to add a value to the default values for Pickup Time Delays. I would like to add 75 minutes, is that possible?

Reference: [https://wordpress.org/support/topic/change-default-pickup-time-delay-times/](https://wordpress.org/support/topic/change-default-pickup-time-delay-times/)

[2020-03-19 11:19] jottesjs commented on #70
Website URL: www.stemke.gd
    PHP Version: 7.3
    WordPress Version: 5.2.4.
    WooCommerce Version: 4.0.0 (or earlier)
    Plugin Version: 1.3.11
    WordPress Timezone Setting: Berlin
    WordPress Date Format Setting: l, j. F Y (or "other")
    WordPress Time Format Setting: G:i
    All Plugin Start/End Pickup Time Settings:
Start: Mo-Sa: 6:30
End: Mo-Fr: 17:30; Sa: 12:30
Sunday: no setting

[2020-03-19 11:25] jottesjs commented on #70
Workaround to fix the issue:
Rollback to Plugin Version: 1.3.10

[2020-03-19 12:03] jottesjs commented on #72
What about a standard delay plus the option for a longer delay, depending on product or category?

[2020-03-19 12:09] timnolte commented on #72
@jottesjs this specific change would not be a product or category this, there are other open issues for such a thing which is a much larger effort. This would be to change the drop-down to be a numeric field along with a drop-down to indicate minutes/hours/days in order to provide any number of minutes/hours/days.

[2020-03-19 14:48] tomaski opened #73 "pickup time delay not respected"
as I'm writing this, it's 15:47 and am able to select pickup 16:00

pickup time delay is set to 30 min
timezone is correct

[2020-03-19 20:41] timnolte commented on #73
Can you provide me all of the following:

- Website URL
- PHP Version
- WordPress Version
- WooCommerce Version
- Plugin Version
- WordPress Timezone Setting
- WordPress Date Format Setting
- WordPress Time Format Setting
- All Plugin Start/End Pickup Time Settings
- Plugin Pickup Time Interval Setting
- Plugin Pickup Time Delay Setting
- Plugin Pickup Time Open Days Ahead Setting

[2020-03-19 20:46] jottesjs commented on #70
Also using Woocommerce Germanized plugin. That plugin does things at the check out. Maybe there is a conflict with the latest Pickup?

[2020-03-19 20:57] timnolte commented on #70
@jottesjs yes it is very possible that plugin could be causing a conflict. What does that plugin do?

[2020-03-19 20:59] tomaski commented on #73
Sure thing,

- URL: http://www.brafoer.nl/bezorgen
- PHP: 7.3.15
- WP: 5.3.2
- WC: 3.9.1
- Plugin: 1.3.11
- timezone: UTC+1
- date format: d-m-Y
- time format: H:i
- start pickup 16:00 (every day)
- end pickup 21:00 (every day)
- time interval: 30 min
- time delay: 30 min
- days ahead: 1

[2020-03-19 21:06] jottesjs commented on #70
it does ... pretty much. It installs quite some things to comply with German laws.

you can change the name of the checkout button
it lists product properties in basket and checkout
adds a link to edit basket
shows the basket and thumbnails at checkout
...
https://de.wordpress.org/plugins/woocommerce-germanized/

[2020-03-19 21:22] timnolte commented on #73
@tomaski OK, the fact that you are using UTC+1 for your Timezone is probably the problem. While those options are available in WP they are not recommended as they cause a lot of problems with date/time calculations.

[2020-03-19 21:39] tomaski commented on #73
@timnolte but it is my timezone and same thing happened when I had the time zone set to Europe/Amsterdam. What are the recommended settings then?
btw I did notice that the plugin uses american date format: m/d/y instead of the european: d/m/y - can it matter?

[2020-03-19 22:08] timnolte commented on #73
The only place that uses the U.S. date format is with the closed days list. All other cases it's using your WordPress date/time formats.

[2020-03-19 22:11] timnolte commented on #73
I should also ask, you didn't by chance leave the checkout screen up for a long time? The pickup time dropdown only checks the settings when it's generated and not afterwards. I do have an open ticket to do some additional validation around that aspect.

[2020-03-19 22:14] timnolte commented on #73
I will setup a test environment to match your setup and try to recreate to determine the issue. In general using an offset for your Timezone (UTC+1) is problematic and I can't really guarantee it'll work, especially because of places that observe daylight savings time. Using Europe/Amsterdam should have resolved the issue if that truly is your Timezone.

[2020-03-20 00:38] tomaski commented on #73
No, I did not leave it open. I am aware of that issue, as I am the one who opened it, a year ago xD

Anyway, the reason I switched to UTC+1 is that Europe/Amsterdam did not work.

[2020-03-20 01:46] timnolte commented on #73
@tomaski ah, OK, is this a new install, or did it quite working? I know that I spent some time awhile ago sorting through all of this including a bug between PHP versions. However, I'd like to know what may be the cause of it, especially given that I haven't received any other reports of it not working. I know there were some date/time changes in WordPress core not long ago, maybe that is the caus

[2020-03-20 17:06] tomaski commented on #73
@timnolte this is an old install. I just keep it up to date and client brought this to my attention only recently, so hard to tell what might have been the cause

[2020-03-21 18:57] timnolte commented on #73
A possible related report: https://wordpress.org/support/topic/pickup-time-delay/#post-12568883

[2020-03-24 14:04] tomaski commented on #73
@timnolte I think the issue is with how timestamps are stored in the database.
I am currently working on a webhook that is dealing with the data sent by WooCommerce on order completed. I chose 18:00 for the pickup, but the saved value is `1585072800` which translates to 19:00
can you investigate?

[2020-03-24 14:16] timnolte commented on #73
@tomaski does your location observe daylight savings time? If it does and you are using UTC+1 then that's the problem. UTC values don't recognize daylight savings time.

And yes, I'm trying to juggle a lot right now with COVID-19 so hopefully I'll have something figured out in the next day or two. This plugin isn't my part of my day job so it's completely on my own time. Thanks for digging in and

[2020-03-24 18:32] tomaski commented on #73
@timnolte  yes we do observe DST here, in the Netherlands. To be 100% honest with you before that COVID-19 pandemic, the client (restaurant) was receiving 2-3 orders a week. Right now the pickup/delivery is the only way they can operate so the issue got noticed pretty quickly. It could be that this timis issue was broken all along, but due to the low amount of orders it just wasn't noticed

[2020-03-24 18:45] timnolte commented on #73
OK, then that explains it. This means that you have to make sure the site Timezone is not using a UTC offset otherwise there is now way for the math to account for daylight savings.

[2020-03-26 07:12] joelalexandersson opened #74 "Doesn't work on mutisite"
HI! Would it be possible to make this plugin work with multisite? The fields simple doesn't show up on any of the sub sites.

[2020-03-26 08:25] timnolte commented on #73
@tomaski this should be fixed now on the version I just released. Please update the site and confirm. Thanks!

[2020-03-27 03:55] #73 closed

[2020-03-28 08:20] jottesjs opened #78 "Pickup delay respects closed days"
When I set up a delay of one day, it should actually use working days of the store.

e.g. when Sunday is closed and pickup-delay is one day, on Saturday and Sunday it should only be possible to pre-order for Tuesday, not for Monday morning...

I know, when you go into details with this, it might create some headaches. However, pickup delay only makes sense for the time the store or the store depar

[2020-03-28 08:21] jottesjs commented on #58
I vote for this one.

[2020-03-28 10:08] jottesjs commented on #58
Related to this:
Some products are only available at specific days. E.g. a bakery, producing special bred xy only on Fridays, so you only can pick up on Fridays and Saturdays, but you have to place your order on Thursday or earlier, to make sure your product ordered for Saturday will be taken from the production of Friday (and not be eventually sold out before the order is processed).

[2020-03-28 17:23] tomaski commented on #73
hey @timnolte yes, it does now! thx a lot, man! 👍

[2020-03-30 19:39] AshDreamco opened #79 "Option to exclude date and only use time"
It would be excellent if you could update the plugin to allow the choice to only include a time and not a date. For example, my client is putting out a line of products that will only be available for pick up on the two days before easter, they want to ask the customers to select a time for pick up, but the date is established in the options selection already. So no need for a date again which cou

[2020-03-31 23:16] brendenread commented on #60
Is there any way of switching off the pickup time when a customer chooses delivery for the shipping method?  Customers are becoming confused when asking to select a pickup time after they have chosen delivery ...

[2020-04-01 02:10] timnolte commented on #60
@brendenread not at this time, which is why this ticket exists.

[2020-04-12 10:49] JayneNew opened #80 "export order - not fetching data as expected"
Hello, I'm exporting orders with Advanced Order Export For WooCommerce by AlgolPlus.  The is _local_pickup_time_select data field is not fetching data as expected for export.

For example a customer Pickup Time: April 17, 2020 6:30 pm, exports as 1587112200, and a Pickup Time: April 18, 2020 7:30 pm, exports as 1587202200.

Should I be using a different order export plugin, or exporting that field

[2020-04-12 21:26] timnolte commented on #80
@JayneNew the value is stored as a timestamp. You'll have to convert this value to the appropriate date/time format according to your locale. You would need to do something along these lines:

[code]
Where $pickup_time_value is that number you are seeing.

I'm not familiar with the plugin you are using, however, I have used WP All Export/Import and it has the ability on export to use PHP code tran

[2020-04-12 23:53] JayneNew commented on #80
Thank you Tim, understood and appreciate the explanation.

The exporter I'm using has a 'Custom PHP code to modify output' field.

I've tried the code but get an error.  I did replace ($pick_uptime_value) with ($pickup_time_value).  Is there something else in there that needs correcting for this code to work? Thanks.

$pickup_plugin = Local_Pickup_Time::get_instance();
$pickup_time_formatted = $pi

[2020-04-13 03:54] timnolte commented on #80
@JayneNew can you give me the error you received? Also, did you assign the value from the `_local_pickup_time_select` field to `$pickup_time_value`?

[2020-04-13 03:55] timnolte commented on #80
@JayneNew if you could provide some screenshots of what that part of the plugin looks like that might help too.

[2020-04-13 04:02] JayneNew commented on #80
@timnolte Please see attached, no I didn't assign the value, not sure how or where to do so.  Thanks.
<img width="1660" alt="Screen Shot 2020-04-13 at 1 58 00 pm" src="https://user-images.githubusercontent.com/63540282/79091099-59496900-7d8f-11ea-970c-034033c84b6c.png">
<img width="418" alt="Screen Shot 2020-04-13 at 1 58 08 pm" src="https://user-images.githubusercontent.com/63540282/79091108-5ea6

[2020-04-16 13:01] JayneNew commented on #80
@timnolte did you see the above screenshots?

Thanks

[2020-04-16 13:34] timnolte commented on #80
@JayneNew yes, the first thing is that the 2nd line in the custom PHP box is missing an ending semicolon. However, beyond that there is going to be more code needed that falls in line with the requirement of how that plugin uses custom PHP code. The documentation for that functionality would be found here: https://docs.algolplus.com/algol_order_export/overview-custom-code/ and more specifically us

[2020-04-26 15:20] mrleonz opened #81 "Text change"
Hi,

Nice plugin!

A little problem. I want to change the text in my own language is that possible?
Because the whole website is in Dutch language (Netherlands). Only the pickuptime is in English.
- How can i change the text of Pickuptime?

( i'm a beginner in developing a website, so please keep it simple)

Thanks in advance =)

[2020-04-28 01:50] timnolte commented on #81
@mrleonz the best solution would be to submit your translation here: https://translate.wordpress.org/locale/nl/default/wp-plugins/woocommerce-local-pickup-time-select/

[2020-04-28 02:18] timnolte commented on #68
[Support Forum Reply](https://wordpress.org/support/topic/plugin-lets-customers-use-the-same-slot-twice/):

[2020-04-28 02:19] timnolte commented on #68
[Support Forum Reply](https://wordpress.org/support/topic/set-maximum-order-pickup-per-interval/#post-12741311):

[2020-04-28 02:21] #11 closed

[2020-04-28 02:23] timnolte commented on #80
@JayneNew were you able to get some code working for your export?

[2020-04-28 02:40] JayneNew commented on #80
Hello @timnolte thanks for following up.  No I wasn't, I tried but I'm a complete Newb so didn't want to be too annoying.  I'm not locked into that export plugin, so if there is one that you know will work with simple coding I'm happy to change.

Also, I would like to discuss some small developments to your plugin, happy to discuss payment for further development - We, like many hospitality busine

[2020-04-28 03:09] timnolte commented on #80
@JayneNew are you using the [Lite](https://wordpress.org/plugins/woo-order-export-lite/) or [Pro](https://algolplus.com/plugins/downloads/advanced-order-export-for-woocommerce-pro/) version of the export plugin? If you are only using the Lite version that I can probably download it and test this out locally and provide some code that should work for you.

As for the additional enhancements that yo

[2020-04-28 08:30] JayneNew commented on #80
Hello @timnolte, thanks for your msg.  I'm just using the Lite version.

I'll open up new issue for my suggestions for the Plugin, thanks!

[2020-04-28 09:03] JayneNew opened #82 "Limit local pickup time slots, from being selected by a maximum # of customers"
In these times of Covid-19, limiting the number of people in store at any given time, and in order to provide great customer service it would be ideal if we could limit the number of times a specific pick-up time could be selected.

ie:  limit local pick-up time of 6:00pm to being selected a maximum of 4 times

This could be done on a time slot basis or daily basis.  The per time slot basis may be

[2020-04-28 09:07] JayneNew opened #83 "Add day of week to pickup time drop down."
Some customers are selecting the wrong date.  Adding the day of the week to the drop down display may help correct this problem.

eg. Friday MAY 1, 2020 @ 6"00PM

Thank you for your consideration.

[2020-04-29 03:03] timnolte commented on #83
@JayneNew you can make this happen by changing the WordPress Date format to include the Day, that is how the date & time presented are managed. It may be that we need to provide a plugin specific date format field if changing the WordPress date format is not acceptable.

[2020-04-29 03:09] timnolte commented on #82
@JayneNew this is a duplicate of an existing open issue #68

[2020-04-29 03:09] #82 closed

[2020-04-29 03:24] JayneNew commented on #83
Perfect, done. Thanks!

[2020-04-29 03:24] #83 closed

[2020-05-01 10:17] sharls05 commented on #23
Any update on this? really need some help with this specifically as Local time pickup should be required when Local Pickup is chose as Shipping Method and Not Required once other shipping is selected.

[2020-05-01 10:22] yward commented on #23
Use my solution detailed here: https://wordpress.org/support/topic/hide-if-shipping-method-isnt-pickup/ until the plugin author implements the code.

[2020-05-01 14:22] klishb commented on #23
I implemented your code above, but the checkout page displays "Please select a pickup time" even if another shipping method was selected on the cart page.  If you change your shipping option on the checkout page it seems to update the page correctly, but initially it's incorrect on page load.  Any thoughts on how to remedy this?

[2020-05-02 03:26] yward commented on #23
You need to disable the default validation in the plugin by commenting the following line:

`add_action( 'woocommerce_checkout_process', array( $this, 'field_process' ) );`

which is located in the file: public/class-local-pickup-time.php line 137.

so it'll look like:

`//add_action( 'woocommerce_checkout_process', array( $this, 'field_process' ) );`

[2020-05-04 04:50] beansbaxter commented on #23
I tried your Snippet on Wordpress.org and now it says "There has been a critical error on your website." and it breaks the page.

Wish the author would fix this plugin. It's unusable because the customer should not choose a time for picking up for Delivery.

[2020-05-04 04:54] yward commented on #23
Are you sure you tried the last one?

`// Conditional Show hide checkout fields based on chosen shipping methods
add_action( 'wp_footer', 'conditionally_hidding_pickuptime' );
function conditionally_hidding_pickuptime(){
    // Only on checkout page
    if( ! is_checkout() ) return;

    // The shipping methods rate ID "Local Pickup"
    $no_delivery = 'local_pickup:3';
	$no_delivery2 = 'local_pic

[2020-05-04 14:14] klishb commented on #23
@yward Thank you.  Didn't see that in your comments above.  Unfortunately commenting that out didn't seem to help though.  I'm still seeing "Please select a pickup time." even when I pick a different shipping option.

[2020-05-04 21:49] sharls05 commented on #23
I've already got this work but it seems that on my end I need to reverse this code below

FROM:
[code]

TO:
[code]

I've also corrected the input value on my end since I have more than 3 shippings.

[2020-05-05 07:57] yward commented on #23
Great, I'm glad you got it working!

[2020-05-05 08:03] sharls05 commented on #23
Thanks to your code. Really helpful!

[2020-05-05 12:56] klishb commented on #23
Not able to find this yet

Looking over that pastebin and it doesn't look like what you posted on wordpress.org.  Which one should we use?  Also, I have 5 shipping methods.  @sharls05 Does that matter?

[2020-05-05 14:04] yward commented on #23
You should use the one in the pastebin, and it doesn't matter how many shipping methods you have, **it only matters how many of those shipping method is pickup**.

If you only have one pickup option, use my code as is, if you have more, let me know and I'll walk you through.

[2020-05-05 14:06] klishb commented on #23
I have one pickup option, but my understanding is that pickup is just a flat rate zero cost shipping method.  How do you identify it as a pickup option?

[2020-05-05 14:09] yward commented on #23
No pickup isn't flat rate, pickup has a unique identifier by woocommerce which is `local_pickup:*` where star is a number, in most cases one default local pickup would be `local_pickup:3` also in some expressions local_pickup by its own is identifiable by woocommerce, it's not part of flat_rate

[2020-05-05 14:13] klishb commented on #23
Understood.  I'm now using your pastebin and that seems to be working well.  Thank you!

[2020-05-05 14:18] yward commented on #23
My pleasure! Glad I could help.

[2020-05-06 02:50] timnolte opened #84 "Checkout Max Execution Time Reached on Fresh Install"
**Describe the bug**
On a fresh install of the plugin if the plugin general settings are not saved then some options have no default set causing the plugin to failed completing the load of the Checkout page.

**To Reproduce**
Steps to reproduce the behavior:
1. Install plugin
2. Activate plugin
3. Add an item to the cart
4. Proceed to checkout.

**Expected behavior**
Even if the plugin general set

[2020-05-07 03:05] jottesjs commented on #70
The issue seems to be gone, either with Version 1.3.12 or an update of any other conflicting plugin.

[2020-05-07 03:40] #70 closed

[2020-05-07 03:43] timnolte commented on #81
@mrleonz would you have any interest in becoming an editor for Dutch for the plugin? You would be able to provide, and approve, the Dutch translation for the plugin.

[2020-05-07 05:36] CallMeKari commented on #23
@yward So I'm having a strange thing happen, if I comment out the code in the original plugin that you suggested, I get a critical error on my site. Leave it, it works, and as far as I can tell is hiding the pickup times if another shipping method is picked. Soo, yay? Although I'm worried something is broken if its doing this.

[2020-05-07 10:19] yward commented on #23
Can you tell me which line are you commenting?

[2020-05-09 10:55] mrleonz commented on #81
thankyou for the offer. I think my translastion will not be good enough. so i think its not so wise to let me translate it
i'm sorry

[2020-05-21 13:14] mattylord opened #86 "Local Pickup Time Select dosent hide"
i have recently installed the plugin and its great , i am just wondering weather the option can only be shown if local pickup is selected and hidden when not selected ?

[2020-05-21 13:43] timnolte commented on #86
There is already an issue opened for this(#23) and is slated for the next release.

https://github.com/mattbanks/woocommerce-local-pickup-time/issues/23

[2020-05-21 13:44] #86 closed

[2020-05-31 17:49] timnolte commented on #23
Ref: https://wordpress.org/support/topic/hide-preferred-time-if-other-shipping-option-selected/#post-12918412

[2020-05-31 17:58] timnolte commented on #23
Ref: https://wordpress.org/support/topic/disable-for-shipped-orders/

[2020-06-05 17:37] klishb commented on #23
@yward

I'm getting complaints that the users can't see the drop down selection.  I tested it myself and it's displayed initially for me, but if you toggle the shipping method to something else and then back to local pickup the drop down selection is not displayed.  If you refresh the page then it is displayed again.  Any idea how to address this?

[2020-06-05 19:35] vickyr-lbh commented on #23
@yward I wonder if you can help me, please? I added in your snippet to hide the pickup time when a delivery option was selected and it worked a treat, thank you :) Then I added another pickup option for a specific date and it is still showing the choose time dropdown box but I want this to be hidden as it would be if you picked the delivery option.

If it helps clarify things, I have a pickup opti

[2020-06-06 13:52] yward commented on #23
The dynamic show/hide the drop list uses jQuery, if it's not working for you most likely you have a jQuery conflict, check your console and any try to disable other plugins until you find the conflicting one.

[2020-06-06 14:02] yward commented on #23
Hello Vicky,
The problem here is that the plugin and my snippet both look for **ALL** local pickup shipping methods, not just a specific one.
A work around I would suggest for you to create your other pickup option, the Saturday one, as a flat rate with 0 price in your woocommerce configuration instead of a local pick up. You can still rename it to display as "Pick Up" in front end, but this way t

[2020-06-06 14:11] klishb commented on #23
@yward

I want to make sure my implementation is correct.  Earlier in this thread you said to comment out these lines:

`// Check if set, if its not set add an error.
		if ( ! $_POST['local_pickup_time_select'] ) {
			wc_add_notice( __( 'Please select a pickup time.', 'woocommerce-local-pickup-time' ), 'error' );
		}`

Then later in the thread you said only comment out this:

`//add_action( 'wooco

[2020-06-06 14:16] yward commented on #23
either one is fine. the first way we actually commented the actual code that rendered the warning, while the second method we commented the action that makes that code work. Doesn't matter which one you use, the 2nd way is just "cleaner" code.

Also this is not related to your issue. That code is responsible for validating that you have selected a pickup time if the chosen method is pickup, it doe

[2020-06-06 15:19] klishb commented on #23
Thank you for that confirmation.  I've spent most of the last hour troubleshooting this on a staging site.  I've disabled nearly all plugins, but the problem persists.  I'm not seeing any JQuery errors in the console.  The only remaining plugins activated are WooCommerce and plugins to give me enough shipping options to test:

WooCommerce Services
Jetpack
Code Snippets
WooCommerce Local Pickup Tim

[2020-06-06 15:23] klishb commented on #23
Additionally, I've disabled all other code snippets.  I have now also re-activated a different shipping plugin and deactivated these two which also did not help:

WooCommerce Services
Jetpack

[2020-06-06 15:46] yward commented on #23
Can you please send the code you have in your functions.php?

[2020-06-06 16:08] klishb commented on #23
`// Conditional Show hide checkout fields based on chosen shipping methods
add_action( 'wp_footer', 'conditionally_hidding_pickuptime' );
function conditionally_hidding_pickuptime(){
    // Only on checkout page
    if( ! is_checkout() ) return;

    // The shipping methods rate ID "Local Pickup"
    $no_delivery = 'local_pickup:3';
	$no_delivery2 = 'local_pickup:7';
	$chosen_methods = WC()->sessi

[2020-06-06 16:09] klishb commented on #23
That didn't paste so well. Try this:

https://pastebin.com/JnAUPKkx

[2020-06-06 16:14] klishb commented on #23
The rest of my functions.php is default from the theme.  I make all additions using Code Snippets, but here's my actual functions.php that I do not edit

https://pastebin.com/1b9tv8Ph

[2020-06-07 01:15] yward commented on #23
Please try adding the code in your functions.php file and see if it works, I do not have your code snippets plugin and never used it, so cannot really support it. It's a good practice generally to avoid using plugins you don't need, add code snippets is as easy as pasting them to the end of your functions.php files, no plugin needed for that.

[2020-06-07 20:33] klishb commented on #23
I put it in my functions.php as requested and it still doesn't work.  When I tried doing so I received a "check nonce failed" when trying from the theme editor.  Not sure why.  I had to use web hosting tools to modify the functions.php directly.

I agree with your statement on not using plugins you don't need.  That beings said the Code Snippets plugin is something I use on all my sites and find i

[2020-06-07 20:42] yward commented on #23
the snippet doesn't use nonce at all, the error is irrelevant to it. You can trace the error by turning on WordPress debugging in your config.php and you'll find they error file in wp-content folder.

From following this topic and Wordpress.org forums I understood that the author is about to implement this functionality into an upcoming version so it'd spare you having to go through all the debugg

[2020-06-10 03:32] timnolte opened #87 "Disable Open Start/End Times to Match Store Open Days"
**Is your feature request related to a problem? Please describe.**
The store hours don't present a visible way to clear the hours for cases when the store isn't open on those days. You can highlight the hours/minutes and delete the with the keyboard but this isn't obvious.

**Describe the solution you'd like**
Add an obvious way to disable the day so it would be cleared, perhaps a checkbox that cl

[2020-06-11 16:50] bendison opened #88 "Pickup time is not shown in emails that are sent when a note is added to an order"
**Describe the bug**
When a customer note is added to an order, the email that is sent should contain the pickup time that was selected. The email currently displays the pickup time as "None".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new order for local pickup.
2. Check the email that is sent to the customer, it should contain a pickup time.
3. Add a customer order note which

[2020-06-21 21:55] thebrownlows commented on #23
Hi there. I've implemented your code, but it's not validating the selection......so if Local Pickup is selected, and no date/time is selected, it simply passes through to payment without any validation.

[2020-06-22 22:58] thebrownlows opened #89 "Pickup Date/Time is showing as ARRAY in Order page (WordPress) and Emails"
The selected pickup date/time is showing as the word ARRAY in email confirmations and within the orders page of WooCommerce in Wordpress itself. Therefore I have no visibility of the date/time selected by the user.

[2020-06-22 23:07] timnolte commented on #89
I'm going to need more details. How did you create this issue? There should have been a template for you to fill out details.

[2020-06-22 23:14] thebrownlows commented on #89
i'm not sure i understand, how did I create this issue.

Plugin is installed
Days available are Friday, Saturday, Sunday only.
Times allowed are Friday (4-6pm), Saturday and Sunday (10am-12noon)
28 days in advance
3 days before a date
latest version of wordpress (4.8.1 i think?)
Date picker seems to work ok.....but comes through as array on the email confirmation and within the order page (so no d

[2020-06-22 23:17] thebrownlows commented on #89
https://gatherforsupper.co.uk/ is the site it's associated with

[2020-06-22 23:22] timnolte commented on #89
Hmm, when you open up an issue you should have been prompted with the type of issue you were opening with a template to fill out all the required details in order to troubleshoot your issue.

Please confirm your WordPress version, 4.8.x is old and no longer a supported version of WordPress. Please also confirm your WooCommerce version, PHP version, your WordPress General settings Date Format and T

[2020-06-23 00:06] timnolte commented on #89
@thebrownlows I just realized that you were the last person to comment on issue #23 indicating that you modified the plugin. If that is the case then I ask you to please reinstall the plugin to ensure that your code changes didn't cause this problem as well. Thanks.

[2020-07-02 11:06] timnolte commented on #89
It is possible that I haven't pushed all of the changes to the remote yet, as I still have work on my local machine. I'm still sorting out GrumPHP and the build tools setup so that everything is ensured to be included in the repository and requiring minimal globally installed packages.

[2020-07-03 13:06] thebrownlows commented on #89
??

[2020-07-03 16:20] timnolte commented on #89
@thebrownlows what version of WooCommerce are you using?

[2020-07-06 07:51] thebrownlows commented on #89
4.2.2

[2020-07-07 08:17] Sjardo opened #92 "Give option to choose the seperator between date and time"
**Is your feature request related to a problem? Please describe.**
As far as i can see, the separator between the date and time is an "@". It would be great if i can change this, even for multiple languages.

**Describe the solution you'd like**
For me, an hook is fine, but it would be even better if we can choose the separator in the admin menu. (could be just a string?)

**Describe alternatives

[2020-07-08 02:28] timnolte commented on #89
@thebrownlows so I just setup a clean install with only WooCommerce & the Pickup Plugin installed and used your settings and I have no problem with seeing the pickup time in the order details view or the orders listing. If you can confirm what other WooCommerce plugins you have installed? There may be some conflict with another plugin. The other possibility is that you maybe need to install a fres

[2020-07-08 06:55] Jsushi5 commented on #67
Any progress on this? Would like to have the pickup time display in my emails and thank you page

[2020-07-19 09:22] keytronic commented on #58
@timnolte I'm trying to implement this feature. As I need to make options on product variations I use `woocommerce_product_after_variable_attributes` hook.

~~The only problem is related to plugin init. Product variations use AJAX but plugin do not load admin if call is from AJAX.~~

~~`if ( is_admin() && ( ! defined( 'DOING_AJAX' ) || ! DOING_AJAX ) ) { ... }`~~

~~Can I safely remove this condit

[2020-09-04 08:31] rakeshnic commented on #23
Using Woo-Commerce

1- I want to Implement Per Product Individual Shipping Cost In Local City,Within State,Out of State. Example Suppose I have Order a Product INR 100, Order in a City = Shipping Cost Flat Price 20,Within State = Shipping Cost Flat Price 30, Out of State = Flat Price 40..
2- If Total Product in Cart = INR 500 Then eligible for Shipping Otherwise Show message Not eligible for Shipp

[2020-09-04 19:52] yward commented on #23
You request has nothing to do with this plugin, I advise you take a look at "Booster" plugin for woocommerce, it allows you to set similar conditions.

[2020-09-06 17:28] timnolte opened #94 "Location Hook Not Working as Expected"
**Describe the bug**
I followed this https://wordpress.org/support/topic/can-you-give-an-example-of-how-to-change-the-location-of-the-pickup-time-box/ but somehow, the pickup time box is always in the default location.

Am I doing something wrong?

**To Reproduce**
Steps to reproduce the behavior:
Here is the code in functions.php
[code]

**Expected behavior**
The Local Pickup Time should output i

[2020-09-14 11:35] mattbanks opened #95 "Transfer Plugin Ownership"
Hey @timnolte - I was thinking about transferring plugin ownership over to you, if you're interested. I haven't been involved in the active development here for a while (and probably won't be for the foreseeable future due to other commitments). Let me know if you want to do that! I can transfer the plugin ownership on WordPress.org ([info here](https://developer.wordpress.org/plugins/wordpress-or

[2020-09-14 13:02] timnolte commented on #95
@mattbanks I'd be happy to take over ownership. You can feel free to transfer the GitHub repo ownership to the organization I created(https://github.com/WC-Local-Pickup). You can go ahead and transfer the ownership on WordPress.org as well.

[2020-09-14 13:22] mattbanks commented on #95
Transferred! Thanks for doing such a great job with the plugin!

[2020-09-15 23:40] timnolte commented on #95
Thanks for all your previous work and getting this plugin going. I'm happy to be carrying things on.

[2020-09-15 23:40] #95 closed

[2020-09-21 11:42] vollmart commented on #71
Hi there,

I would be pleased as well if this issue can be fixed!
Thanks so much for creating this free plug-in for people like me not needing complex yearly paid plugins.

I have less visitors on my webshop, so I can wait for re-installing this plug-in for my website.
However, since the option update will be depending on the 1.4.0 Release, do you have any idea what month it could be released? I a

[2020-10-03 18:53] dennisgon commented on #88
can I work on this issue?

[2020-10-03 20:29] timnolte commented on #88
@dennisgon yes, for sure you are welcome to fork and submit a PR for this.

[2020-10-04 14:45] dennisgon commented on #88
Hi I think this is because of other plugins
I already try  for myself and there is no problem
![image](https://user-images.githubusercontent.com/6257311/95018559-caa50d00-068a-11eb-9446-27110ad4924a.png)

[2020-10-04 22:44] timnolte commented on #88
@bendison can you confirm if you have any additional plugins that modify the WooCommerce emails?

[2020-10-04 22:45] timnolte commented on #88
@dennisgon thanks for your verification and analysis on this!

[2020-10-05 21:40] xianchuzhu opened #96 "checkout page time slot re-arrange needed"
sometime customer stay at check out page for like 30 mins or a hour before submitting the order.  by that time , current time already passed first available time slot. I am not sure if i made this clearly.
eg.   customer at check out page @ 2:25 .dealy was set 15mins. so first available time slot will be 2:45pm. but customer submited the order at 4pm and the pick time was still set at 2:45.

is th

[2020-10-14 17:18] badwebdev commented on #23
+1 vote for this enhancement

[2020-10-21 10:22] NCS-Thomas opened #100 "Set pick-up time for admin created order"
For a customer I integrated this plugin.
The customer receives (secondarily) orders placed by phone.
The customer add the order via the WooCommerce > Orders > Add Order form.
On this form Pickup Time is reported as "none" since there isn't any yet.
The customer wants to set a Pickup Time for the order.

Is this just not possible, or am I missing something obvious.

[2020-11-03 16:54] bantunesm commented on #94
Hi Tim,

I hope you’re doing fine.

I’m reaching you to know if you solved this bug or if you have any solution to relocate the pickup time box ?

After several tries of others plugins, yours is the best one so… 😀

[2020-11-06 16:03] smeric opened #103 "Markup inconsistency with WooCommerce on checkout page"
**Is your feature request related to a problem? Please describe.**
A minor problem ! To stay consistent with WooCommerce markup on checkout page, a `<h2>` should be replaced with a `<h3>` in /public/class-local-pickup-time.php#L687

**Describe the solution you'd like**
`echo wp_kses( '<div id="local-pickup-time-select"><h2>' . __( 'Pickup Time', 'woocommerce-local-pickup-time' ) . '</h2>', $allowe

[2020-11-06 16:36] smeric opened #104 "Duplicate sentence on checkout page"
**Is your feature request related to a problem? Please describe.**
See here : /public/class-local-pickup-time.php#L687
And there : /public/class-local-pickup-time.php#L694
Maybe you should replace the second "Pickup Time" with something else, because as it is now you have twice the same sentence appearing one after the other on checkout page : "Pickup Time" as a title then as a field label.

**Des

[2020-11-06 17:16] smeric commented on #87
Waiting for this to be addressed, I would suggest this small addition to disable days with same open and close time. Anyway it could be seen as something logical because if you open and close at the same time then you don't stay opened enough to allow any pick-up ;)

Here /public/class-local-pickup-time.php#L566
You may simply replace :
[code]
with :
[code]

Séb.

[2020-11-10 15:32] smeric opened #105 "French translation po file availlable"
**Is your feature request related to a problem? Please describe.**
Not realy a problem... But the plugin may be dificult to use by french people who do not speak a word of english :)

**Describe the solution you'd like**
You could add a translation file in french if you got one ? I'm not a translator so my translation may not be perfect... Anyway you can find it here if you're interested : https:/

[2020-11-10 21:10] smeric commented on #104
Here is another alternative. I add this snippet to my `function.php`. This removes the title entirely so I get rid of the duplicate sentence, resolving at the same time the `<h2>` probleme (see #103)  :
[code]

[2020-11-10 23:46] mrsdesign opened #106 "How to make Pick Up not required"
I am looking to make the pickup time NOT required on checkout - as I am now selling Gift Cards that don't require pickup.

How do I change this?

I don't have that much experience with code - any assistance would be appreciated!

[2020-11-20 20:52] smeric commented on #105
I just used translate.wordpress.org to add this translations.

https://translate.wordpress.org/projects/wp-plugins/woocommerce-local-pickup-time-select/stable/fr/default/

[2020-11-20 23:23] timnolte commented on #105
@smeric excellent thanks for that. I have a backlog of responses and that was going to be my suggestion. I'd like to get away from managing translations with the code base.

[2020-11-20 23:28] timnolte commented on #105
@smeric I'm seeing a concerning translation here: https://translate.wordpress.org/projects/wp-plugins/woocommerce-local-pickup-time-select/stable/fr/default/?filters%5Bwarnings%5D=yes It would seem you replaced the title of Pickup Time with a long sentence. There may be a need to adjust the code to accommodate the single place where this translation is desired.

[2020-11-22 08:53] smeric commented on #105
@timnolte well, this one is not so easy as french may be much most verbose than english to say even simple things... I just reduced it a lot but, as I said, I'm not a translator so I'm not sure it's the best translation... anyway it's better than none at all ;)

[2020-11-26 18:01] mreichstadt commented on #68
Hello,
Did you find a way to do that? It would be so great

[2020-12-12 18:58] plantforsoul opened #108 "Pickup time not showing after updating the WordPress 5.6"
I loved the plugin and it worked without any issue since I installed it. Looks like after I updated the WordPress 5.6 it's not showing the pickup time dropdown anymore.. Could you please help?
Thanks

**General usage and development questions**
- WordPress.org Forums: https://wordpress.org/support/plugin/woocommerce-local-pickup-time-select/

[2020-12-24 10:30] gbettant opened #109 "Pickup Delay"
**General usage and development questions**
- WordPress.org Forums: https://wordpress.org/support/plugin/woocommerce-local-pickup-time-select/
-
Hello
i can’t find the exact settings i want :
the customers have to order before 6PM day1, to be able to pickup next day (day2) (from 10AM)

For this i entered 16hours of time pickup delay. (with pickup times from 10AM to 7PM)

So this means if someone o

[2020-12-24 11:21] timnolte commented on #109
What are do you have for the following settings:

- Start/End Pickup Time Settings
- Plugin Pickup Time Interval Setting
- Plugin Pickup Time Open Days Ahead Setting

[2020-12-24 15:29] gbettant commented on #109
Start/End Pickup Time Settings : 10 AM to 7PM
Plugin Pickup Time Interval Setting : 30min
Plugin Pickup Time Open Days Ahead Setting : 16hours

I v just had to put the time open days ahead setting to 24h other wise i have orders at 10PM for example , for the next day
What i want is that after 6PM on day 1, the orders can be picked up minimum day 3 at 10AM (before 6Pm they can be made for day 2)

[2020-12-24 17:49] timnolte commented on #109
OK, the first thing I see is that you have your close time set for 7pm. The calculations are based on the end of your pickup time so you would have to set your end pickup time to 6pm not 7pm. I will do some testing tonight to see where the issue is. Also what timezone is your WP install set to?

[2020-12-28 03:48] timnolte commented on #109
@gbettant OK, I've got me new support testing site up and was going through to double check the setup. And then in dawned on me that how pickup times are figured in the case of this plugin is simply based on a required delay between ordering and pickup. And the pickup times can only be within the window that is specified with each days open/close pickup times. There is no available option to const

[2021-01-06 16:02] gbettant commented on #109
ok thank you. i will wait for an enhancement then, to have a more precise setup

[2021-01-09 02:54] set088 opened #110 "Pick up Time"
Hi

How can i set the pick up time to be like this
12pm - 3pm, 5pm-9pm (3-5pm closed)

Thank you

[2021-01-09 04:19] timnolte commented on #110
@set088 so currently the plugin doesn't support multiple intervals with-in 1 day. This would need to be considered for an enhancement.

[2021-01-09 04:23] timnolte commented on #108
@plantforsoul sorry for the long delay. I'm wondering if you have something else that is conflicting with this plugin. I have an up-to-date [WordPress 5.6 test install](https://testing.wclocalpickup.com/) and the plugin is showing the dropdown just fine. Can you provide the following details:

- Website URL:
- PHP Version:
- WordPress Version:
- WooCommerce Version:
- Local Pickup Time Plugin Vers

[2021-01-10 03:22] plantforsoul commented on #108
Hi Tim,
Thank you so much for reaching out. I really appreciate that. Please find
the information below you requested:
Please let me know if you have any other questions.
Thanks

   - Website URL: plantforsoul.ca
   - PHP Version: 7.2.34
   - WordPress Version: 5.6
   - WooCommerce Version: 4.8.0
   - Local Pickup Time Plugin Version: Version 1.3.12
   - WordPress Timezone Setting:UTC-5
   - WordP

[2021-01-16 16:35] timnolte opened #111 "Support New WooCommerce Navigation"
**Is your feature request related to a problem? Please describe.**
WooCommerce is rolling out a [new navigation system](https://developer.woocommerce.com/2021/01/15/call-to-action-create-access-for-your-extension-in-the-new-woocommerce-navigation/) that may impact the ability for admins to manage the plugin settings.

**Describe the solution you'd like**
Need to ensure compatibility and consider c

[2021-01-23 02:47] timnolte commented on #106
This is a duplicate of #71

[2021-01-23 02:47] #106 closed

[2021-01-25 04:31] timnolte opened #112 "Move Builds from TravisCI to GitHub Actions"
**Is your feature request related to a problem? Please describe.**
Due to the limit of TravisCI credits now we've exhausted our credits for at least the rest of the month.

**Describe the solution you'd like**
Move builds to GitHub Actions in order to at least provide another means to perform validation/check builds.

**Describe alternatives you've considered**
- Staying with TravisCI and just man

[2021-01-29 13:13] #112 closed

[2021-01-29 14:57] timnolte opened #114 "Update Issue Templates to Direct Users to Discussions for Questions"
Instead if having users opening new issues if they have questions encourage the use of the GitHub Discussions instead. The hope would be to provide a better facility to keep questions, and answers, visible to users since Issues get closed.

[2021-01-30 03:31] timnolte opened #115 "Setup WordPress.org Deployments via Tagged Releases Using GitHub Actions"
Drop using the a local/manual deployment process for releases and move to using tagging and a GitHub action to deploy releases to the WordPress.org repository.

## Items to Address
- Deploying plugin build artifacts and not just files from the repository.
- Downloading translations from GlotPress.

[2021-02-01 04:15] timnolte commented on #115
## Gutenberg Build & Deployment Process
*NOTE*: There is a lot of code and process to manage with this setup but it allows for building an installable pluign release in GitHub and deploying a built version of the plugin to WP.org. The current 10up deployment action doesn't provide a solution for only uploading a built version of the plugin.

- Release Package Build: https://github.com/WordPress/gu

[2021-02-06 16:52] rebuys opened #116 "Select Pickup Time Required Even When Shipping is Selected"
When a product that has local pickup and UPS as a shipping method "Select Pickup Time" is required even when UPS is selected.
Customers who are not local and expect their product to be delivered to a different State, have to choose a pick up time.

Steps to reproduce the behavior:
1. I have two shipping methods, the first method is Local Pickup/Delivery/Shipping. It allows Free Local Pickup, Local

[2021-02-06 18:08] timnolte commented on #116
@rebuys FYI, yes, this is a known issue and it being tracked on Issue https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/23

Hoping to have this available in the next feature release.

[2021-02-06 18:08] #116 closed

[2021-03-17 05:11] timnolte commented on #115
## New WordPress Deployment GitHub Action
A fork of the 10up GitHub Action was created that supports a build source directory. This version allows for the use of the existing Grunt build/release/deploy setup along with simply tagging the release. Some other items to consider for later is uploading a good release artifact to GitHub that is an installable version of the plugin.
- https://github.com/

[2021-03-17 06:36] #115 closed

[2021-03-18 00:15] #114 closed

[2021-03-20 20:57] timnolte opened #122 "Limit Release Workflow from Running on Forks"
https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/blob/9f847502f5d98ae24fbd9a32706bcafc8c9ee35a/.github/workflows/release.yml#L10

See: https://github.com/timnolte/openid-connect-generic/blob/398aed7e2303a30bb61eec70061904bbf9516e8a/.github/workflows/main.yml#L9

[2021-03-24 13:10] gbettant opened #123 "Remove First line of the Time Slots selection"
On my time slots selection tab the first line is not a time slot, but a line that indicates that you need to select one.
But the customer can select this line (by mistake)   and then when i receive the order i have the sentence on the line instead of the time slot

Here is a capture of what i have https://fromsmash.com/Fjddw5~dcg-ct

How to remove this line and have the customer select only the sl

[2021-03-24 13:50] gbettant opened #124 "Time Selected is "NONE" on order and email"
**Describe the bug**
Since today, the orders i receive have a time selected as "none".
This is new, everything was correct before.
The customers have selected the time but on the order and email sent, pickup time selected is "none"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.maisonbettant.fr/eshop
2. Make an order
3. Select time slot
4. Received email indicates "none"

[2021-03-25 19:30] HappyIrish opened #125 "How do i disable local pickup time for preorder products only while retaining for non preorder products?"
**General usage questions**
If your question hasn't been answered in the Wiki please check the [Discussions](https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/discussions) for possible solutions or post a new question there.

[2021-03-26 19:39] vickyr-lbh opened #126 "Time select dropdown box issues"
Hello
I've been using the plugin with great success, thank you. But after a recent website rebuild and reinstallation of the plugin, I'm experiencing an issue with the time select box.
I followed the very helpful information on hiding the box if any other form of shipping is chosen by a customer and that works perfectly.
However, if someone changes from a different delivery to pickup on the checko

[2021-03-27 00:11] timnolte commented on #100
This is a duplicate if https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/9

[2021-03-27 00:11] #100 closed

[2021-03-27 00:17] timnolte commented on #126
This related to the open engagement request https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/23

[2021-03-27 00:17] #126 closed

[2021-03-27 00:19] timnolte commented on #125
This situation would get resolved if https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/60 was implemented.

[2021-03-27 00:19] #125 closed

[2021-03-27 00:29] timnolte opened #127 "Provide a Better Date/Time Control for Selecting the Pickup Time"
**Is your feature request related to a problem? Please describe.**
The UX during checkout for users to select a Pickup Time is hard to use when there are a large number of time slots, a very long drop-down to scroll through.

**Describe the solution you'd like**
Provide a calendar control for date selection, and a companion control for time selection.

**Describe alternatives you've considered**
N

[2021-03-27 00:39] timnolte commented on #96
This is already in an existing request: https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/46

[2021-03-27 00:39] #96 closed

[2021-03-27 08:02] vickyr-lbh opened #128 "Still have an issue - drop down box"
Hello

My last post was closed without a reply, saying it related to a previous post (on which I had commented). I implemented the code in that thread and it fixed the issue I had, hiding the dropdown box when any other form of shipping was selected.

That still works.

The problem I have is that if someone changes the shipping method on the checkout page from delivery to pickup, the dropdown does

[2021-04-13 02:53] timnolte commented on #128
@vickyr-lbh I had indicated(https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/126#issuecomment-808600965) that your post was already being tracked on an existing feature enhancement. You can follow the issues I mentioned in that comment for further updates. The code that you are using to hide when the dropdown is shown is not provided, or supported, by me. An officially suppo

[2021-04-13 02:53] #128 closed

[2021-04-13 12:54] LysitheeGraphiste commented on #68
Hi

I'm also interested in this option : only one order by slot.
It would be really helpfull to avoid mutiple orders for the same time pick-up (restaurant website).

[2021-04-15 02:57] jquiros2 commented on #124
Am having the same issue on some orders, and have not found the reason despite debugging.
So orders this is happening on we are contacting the person who placed the order requesting the time/date for delivery or pickup.

[2021-04-15 09:24] gbettant commented on #124
I reinstalled the 1.3.12 version instead of the 1.3.13 : it now works properly, and don't have "none" anymore ....

[2021-04-15 09:25] gbettant commented on #124
So this means the problem is in the 1.3.13 version

[2021-04-15 15:45] timnolte commented on #124
@gbettant OK, thanks for that information. I'll take a look at what code changes were made between the 2 releases and see what is going on.

[2021-04-15 15:50] gbettant commented on #124
Ok great, hope installing the future 1.3.14 will get rid of this "none"

[2021-04-15 17:26] jquiros2 commented on #124
@timnolte Thanks so much!  I also reinstalled 1.3.12 and will report if it "sometimes" (in my case) happens again as that might help see if it's an issue with my environment or not.

[2021-04-15 17:31] gbettant commented on #124
it was also sometime for me with 1.3.13, id say about 3 or 4 times out of 5 i had "none". Now with 1.3.12 all seems fine.

[2021-05-11 14:47] Kasutan commented on #23
For those still looking for a work-around, I can confirm that the code suggested at the end of this support thread on the WordPress forum still works:
https://wordpress.org/support/topic/hide-if-shipping-method-isnt-pickup/
However, instead of commenting a line in the plugin original file, I would recommend un-registering the action like this:
[code]

[2021-05-17 07:49] mike-battistella commented on #124
In my installation it also occurs that sometimes the time field is "None" - I've experienced this after upgrading from WooCommerce 4 to 5 — but not sure if I've also upgraded this plugin at the same time.

[2021-05-17 08:24] mike-battistella opened #131 "Limit orders to a specific number at the same pickup time"
**Is your feature request related to a problem? Please describe.**
In small restaurants or stores it's not possible to serve multiple customers picking up an order at the same time. The number of possible pickups differs from store to store.

**Describe the solution you'd like**
A possibility (a number) to set the maximum number of pickups a the same time — from 1 to 10 (some bigger number). E.g.

[2021-05-17 11:47] timnolte commented on #131
@mike-battistella this request is already being tracked on issue https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/68

In order to provide this sort of feature a significant restructuring of how the plugin stores data is required in order not to negatively impact the performance of site checkout.

[2021-05-17 11:47] #131 closed

[2021-05-17 11:50] mike-battistella commented on #131
Ok, thanks. Didn't manage to find the existing improvement request.

I've assumed that it will require some data management changes in the background.

[2021-05-25 03:30] OHOHere commented on #124
I'm having the same issue. No PickUp Time Selected information is saved.  But I have noticed that if it is the customers first order that the selected Pick Up Time is not saved so it does not get to the email nor the order information.  But the second time the customer orders, or if still logged in from the first order, the selected Pick Up Time is shown and saved correctly.

[2021-06-23 18:27] MaW-cmkbk commented on #124
Same issue. From 12 orders there was 5 with None in pickup-time.

[2021-07-01 17:58] usawhney commented on #67
Anything on this?

[2021-07-09 09:29] VinGrade commented on #104
The function build_pickup_time_options doesn't exit anymore, use get_pickup_time_options instead.

[2021-07-09 12:07] smeric commented on #104
@VinGrade yes, I learned that the hard way because of all the 500 errors I had to correct after the upgrade... Maybe keeping this function as deprecated would have saved me and my readers some hours... I beleave it's a bad habbit to rename public functions like that without providing retrocompatibility... anyway, thanks for your comment :)

[2021-07-29 12:17] jemjabella commented on #23
Popping this here in case it's helpful... I came here via:
https://wordpress.org/support/topic/disable-pickup-time-for-virtual-products/

Basically, I wanted to hide the pickup time box when the basket only contains virtual items. I didn't want to do this with jquery after the fact, because it has the potential to cause issues where javascript is disabled or when the jquery takes a while to load.

[2021-07-30 15:01] jemjabella commented on #23
Sorry to comment twice in a row (not sure of etiquette) but I've had to modify the code today as I realised that the pick-up time dropdown was showing even when a user had selected Shipping - which I'm guessing is the issue the OP had. I've now amended the code to check the chosen shipping method and hide the pick-up time dropdown if the word "shipping" is found.

NB: this works because my alterna

[2021-09-04 14:07] Misterfurax commented on #68
Hi @timnolte ,
We hope you will find the solution and the time to implement it.
Why not a paid version plugin (lifetime plan please :)
Thank you again for this very useful plugin.

[2021-09-14 10:03] saltan88 opened #132 "Add Day"
**General usage questions**

Hi, how to add day to the pickup selections
at the moment it shows 14/9/21 @ 6.30pm
can we show Tue, 14/9/21 6.30pm

thank you

[2021-09-14 10:33] timnolte commented on #132
@saltan88 the date/Tim format is currently driven by your site Date & Time formats. I have been asked about an enhancement to add a plugin specific date/time format but that hasn't been implemented yet.

[2021-09-15 04:48] saltan88 opened #133 "Multiple pickup time slots"
Hi just wondering how to have several time slots for example 11.30-3pm and 5-9pm ]
thank you
**General usage questions**
If your question hasn't been answered in the Wiki please check the [Discussions](https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/discussions) for possible solutions or post a new question there.

[2021-09-23 11:32] walshyc opened #134 "Error when using Stripe Payment Request options"
I have added Stripes Payment Request buttons to our checkout for Apple & Google Pay. I notice that payments aren't being accepted and I belive it is due to the this plugin. I have deactivated the plugin and the payments go through as expected.

I have tested by selecting a Pickup time before I hit the pay button on Google/Apple pay and the payment still doesn't go through.

To reproduce you can:
1

[2021-11-02 01:18] set088 opened #135 "Make pickup field selection bigger and with background"
Hi,

Just wondering how to add a background colour and make the pickup selector bigger to make it more prominent/visible on the checkout page? Because some of our customers order without selecting a pickup time and said they’ve missed it.

thank you

**General usage questions**
If your question hasn't been answered in the Wiki please check the [Discussions](https://github.com/WC-Local-Pickup/wooco

[2021-11-30 12:22] bastienho commented on #105
Hi

I've just validated and fixed (take care about ’ instead of ') all pending translations. Plugin is now 100% translated in french.

Thank you

[2021-12-30 23:24] 000x2a commented on #23
I seem to have a problem on the checkout page. When I change to delivery option and back to local pickup the pickup time does not change accordingly

[2021-12-30 23:28] 000x2a commented on #23
@timnolte
I seem to have a problem on the checkout page. When I change to delivery option and back to local pickup the pickup time does not change accordingly. If I cset the pickup or delivery options in the cart, the checkout page displays correctly.

[2022-01-08 10:06] 000x2a opened #140 "Show and Hide Local Pickup with validation"
Hello,

I need help with displaying local pick up and hiding it when user changes selection between delivery and local pickup on the checkout page. I also need to incorporate a message if pickup is selected, that local pick up date/time must be entered as a mandatory field.

This is my site:
https://www.provectusdigital.com.au/

Any help much appreciated.

[2022-01-11 04:08] timnolte commented on #140
@000x2a I have received your multiple requests for assistance. There are a few existing open issues around this sort of request. Since this has now been by far the most pressing issue I'm going to begin working on this for the next release. You'll find the following open issues related.
* https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/issues/23
* https://github.com/WC-Local-Picku

[2022-01-11 04:08] #140 closed

[2022-01-15 20:06] 000x2a commented on #140
@timnolte Looking forward to the next release. Thanks in advance :)

[2022-02-06 18:02] Aldo-f opened #144 "FR"
* Dagen op voorhand —> Een product kan ten laatste 48uur op voorhand georderd worden.
* Sluitingsdagen
* Meerdere keren open per dag
* Kiezen in 24h format op front
* Max aantal per slot —>Time slots met dag aanuiden (Eventueel meerdere mensen toelaten per tijdslot)
* Overzicht van bestelmomenten —> Een duidelijke overzicht van de eerstvolgende bestelling met een overzicht in een calendar

[2022-02-06 18:07] timnolte commented on #144
Translated via Google Translate:

HIGH Days in advance —> A product can be ordered at least 48 hours in advance.
 HIGH Closing days
 MID Open several times a day
 MID Dial in 24h format on front
 MID Max number per slot —> Select time slots with day (Allow multiple people per time slot if necessary)
 LOW Also max number per product can be adjusted
 HIGH Overview of order moments —> A clear overvie

[2022-02-06 18:09] Aldo-f commented on #144
These are some of the requrements @timnolte, will probably do this hardcoded.
But feel free to adjust when ready.

[2022-02-06 18:10] timnolte commented on #144
@Aldo-f can you explain Closing Days, there is already a closed days feature.

[2022-02-06 18:12] Aldo-f commented on #144
Notised, I checked that requirement  ;)

[2022-04-03 20:35] timnolte commented on #94
@bantunesm I know this is well overdue, but I have determined why there might be problems with this. And actually, choosing the location of the Pickup Time is going to be deprecated as of the next release. In version 1.4.0 there will be an option to link the Pickup Time specifically to the Local Pickup shipping method, and this change moves the Pickup Time to be output along with the "Local Pickup

[2022-04-04 00:58] timnolte commented on #60
Just noting that in version 1.4.0 this will be partially available. The ability to allow/require pickup time selection will be available to associate with specific Local Pickup shipping methods, there is however still only global settings.

[2022-04-04 05:04] #23 closed

[2022-04-04 05:04] #71 closed

[2022-04-04 05:04] #94 closed

[2022-04-04 05:04] #103 closed

[2022-04-04 05:04] #104 closed

[2022-04-04 05:04] #123 closed

[2022-04-04 05:12] timnolte commented on #135
@set088 the Pickup Time will have some formatting changes, as well as location changes, in the upcoming 1.4.0 release. One key item in particular is that you will be able to link the Pickup Time selection directly to Local Pickup Shipping Methods within Shipping Zones. If you would like to change the styling of the Pickup Time output you can target this with CSS using the `id` that is on the surro

[2022-04-04 05:13] #135 closed

[2022-04-05 02:40] timnolte commented on #122
This has already been done.

[2022-04-05 02:40] #122 closed

[2022-04-09 04:03] timnolte commented on #67
@Jsushi5 & @usawhney I have confirmed that the Pickup Time is showing in emails, at least it is in my latest testing. I have also just completed the work on added a new Ready for Pickup order status and corresponding customer email notification, and the Pickup Time is also being included in that email from my testing. I will be keeping this issue open to look at making sure the Pickup Time is incl

[2022-04-26 06:06] 000x2a commented on #23
@timnolte where can I get the latest version as a compiled plugin?

[2022-04-26 12:13] timnolte commented on #23
@000x2a sorry for the delay on getting the next release out. I just have some final cleanup to do so that I can get the release out with the new features and fixes. I will look to get it released this week.

[2022-04-26 14:55] 000x2a commented on #23
Thanks @timnolte that sounds great!

[2022-04-30 03:34] #7 closed

[2022-05-13 06:08] timnolte opened #167 "Update Read Me Usage Instructions to Align With New Settings Location in 1.4.0"
**Describe the bug**
The Usage instructions in the `readme.txt` wasn't updated to include the new settings location changes made in 1.4.0.

[2022-05-15 03:07] timnolte commented on #124
With the latest release I'm pretty sure that this issue should be resolved.

[2022-05-15 03:07] #124 closed

[2022-05-15 03:09] timnolte commented on #133
Closing as a duplicate of #110

[2022-05-15 03:09] #133 closed

[2022-05-15 03:10] timnolte commented on #108
The plugins has just been updated and tested with the latest version of WordPress. This shouldn't be an issue any longer.

[2022-05-15 03:10] #108 closed

[2022-05-15 03:12] timnolte commented on #89
Closing this as there is no support when customizing the plugin and there is a new release that fully supports custom statuses and email templates.

[2022-05-15 03:12] #89 closed

[2022-05-15 03:14] timnolte commented on #84
This is no longer occurring.

[2022-05-15 03:14] #84 closed

[2022-05-15 03:16] #134 closed

[2022-05-21 21:02] timnolte opened #168 "PHP Fatal error When `shipping_method_add_rate_pickup_time_args()` is called"
**Describe the bug**
In debug logs a `PHP Fatal error` is being reported when the `woocommerce_shipping_method_add_rate_args` filter is calling `shipping_method_add_rate_pickup_time_args()`, with the following trace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
It's not clear on what is triggering this however it may be related to a bad call by one of the following plugins that a user

[2022-05-22 20:19] timnolte commented on #168
After further testing the issue couldn't be reproduced simply with adding and using the plugins listed. However, there was some condition, whether it was with WooCommerece 6.4.1 or 6.5.1 where depending on how the Shipping Zones were setup the PHP Fatal Error was triggered. It was still difficult to consistently reproduce.

[2022-05-22 20:47] #168 closed

[2022-05-22 20:52] timnolte opened #170 "Invalid workflow file: .github/workflows/unit-testing.yml#L36"
[The workflow is not valid.](https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/actions/runs/2367704090/workflow) .github/workflows/unit-testing.yml (Line: 36, Col: 26): Unrecognized named-value: 'env'. Located at position 1 within expression: env.PHP_LATEST_VERSION .github/workflows/unit-testing.yml (Line: 42, Col: 26): Unrecognized named-value: 'env'. Located at position 1 within e

[2022-05-22 23:06] #170 closed

[2022-05-23 03:17] #167 closed

[2022-07-13 12:32] RemyIwn opened #181 "extension placement"
Hello,

I explain my problem, I am developing an e-commerce site with the possibility to choose Click&Collect. For this, I installed the Local pickup time select plugin which works very well except that it is not placed where I want

I would like it to be placed below the delivery mode choices managed by Woocommerce.

Do you know how to do it?

[2022-07-13 14:02] timnolte commented on #181
I would recommend turning on the "Limit to Local Pickup Shipping Methods" option and then turning on the Pickup Time for each Local Pickup shipping method in each Zone that you have setup. This enforces the pickup time field to only be present along with the Local Pickup shipping method when it is selected by a user as the chosen shipping method. This actually removes the ability to move the Picku

[2022-07-13 14:18] RemyIwn commented on #181
Currently, I have the option to choose the date and time when I choose in-store pickup. Except I want to change the location and place it after the woocommerce delivery methods.
Currently, the date choice is placed below the customer info so not very optimized

![Capture d’écran 2022-07-11 151225](https://user-images.githubusercontent.com/109221111/178755713-aa05d6c1-b18d-4dfc-8d94-769e50120275.pn

[2022-07-13 14:36] timnolte commented on #181
Yes, you need to turn on the option I mentioned. It is the last checkbox at the bottom of the plugin settings page and is labeled exactly as I mentioned before. Then there will be another checkbox to enable on the Local Pickup shipping method in each Zone that you have added a Local Pickup Shipping Method.

[2022-07-13 14:50] RemyIwn commented on #181
Superb it works perfectly thank you very much for your help

[2022-07-13 14:51] #181 closed

[2022-07-14 21:23] rafamerino opened #182 "Date/Time selection dropdown doesn't work with flatsome theme (but ok with astra theme)"
**Describe the bug**
I've tested first your plugin in a demo WP I have for testing purposes, and everything was perfect.
But in [flatsome](https://themeforest.net/item/flatsome-multipurpose-responsive-woocommerce-theme/5484319), as the theme loads it's own checkout files, the pickup date/time dropdown doesn't appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Install plugin and configu

[2022-07-26 11:32] 000x2a opened #184 "The Locations not covered by your other zones"
Hi,

I am not sure if this is the right place for this? Please direct me in the right direction if not. When a shipping zone is not in an accepted area, section, is there a way to remove all shipping options and put a message in to the effect of "Sorry we don't ship to this location..."? At the moment I am receiving a default of "local pickup" with no pick up times. Is this a woocommerce thing or

[2022-07-26 12:04] timnolte commented on #184
@000x2a so first aspect is that this plugin doesn't track/manage shipping methods in terms of detecting whether a shipping method is available in a zone. This plugin only adds a Pickup Time. WooCommerce should already be notifying customers during checkout if there isn't a shipping method available.

There are 2 options available in the latest version of the plugin. One option is to make the picku

[2022-07-28 03:36] timnolte opened #185 "Plugin Cart Processing Causing Failures for Other Shipping Methods"
## Describe the bug
When Pickup Time is setup for a Local Pickup shipping method orders can't be submitted using a non-Local Pickup shipping method. The error "Expired or invalid submission!." is returned to the screen and prevents checkout. The following section of code processes the cart and is believed to be returning the error:
https://github.com/WC-Local-Pickup/woocommerce-local-pickup-time/b

[2022-08-01 02:55] #185 closed

[2022-08-11 05:06] chris-att opened #190 "Display a pickup location address only if local pickup is available."
Is it possible to add the address of the pickup location within the checkout page? This needs to be displayed only when the local pickup is available as a shipping method.

[2022-09-30 03:39] timnolte commented on #88
Closing this as in my own recent testing customer notes as well as all other order emails appear to have the pickup time as expected.

[2022-09-30 03:39] #88 closed

[2022-10-04 22:03] #132 closed

[2022-11-04 21:15] jquiros2 commented on #124
Am adding this in case it helps track it down as I just spent most of the day trying and am just not good enough!

I decided to update because I started having issues with 1.3.12 (thinking all the updates in Wordpress, woocommerce, etc could be causing it).

I updated to the latest - 1.4.2 and I am having this issue again.

I'm tracking the variable/field/order meta and logging with the following:

[2022-11-05 00:52] jquiros2 commented on #124
Ouch! reverting to 1.3.12 does not fix it anymore, probably due to all the other woo/wp updates.
@MaW-cmkbk , @OHOHere , @mike-battistella , @gbettant how are you guys doing with this?

[2022-11-10 21:25] johlindr opened #197 "Multiple pickup configurations"
Would need to be able to display different pickup dates/intervals each day based on products.

We would really need a hook to be able to dynamically filter/control the available pickup times based on for example cart content or other criteria.

example, if cart contains productX available pickup times is only between 17 - 20.00  (while the plugin setting allows for example 10 - 22.00).

optimal wo